<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vitabu">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".userProfileActivity" />
        <activity android:name=".bookStatusFragment" />
        <activity
            android:name=".bookInfoActivity"
            android:label="@string/book_info_title" />
        <activity android:name=".browseBooksActivity" />
        <activity
            android:name=".searchBooksActivity"
            android:label="@string/search_books_title" />
        <activity
            android:name=".setMeetingActivity"
            android:label="@string/set_meeting_title" />
        <activity android:name=".registerActivity" />
        <activity android:name=".userReviewActivity" />
        <activity android:name=".ISBNActivity" />
        <activity android:name=".WriteReview" />
        <activity android:name=".acceptBookRequestActivity"></activity>
    </application>

</manifest>